.contacts {
  width: 50%;
  background-color: #5e4f4b;
  background-image: url('../img/overlay_form.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 113px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 112px;
}
