.form {
  max-width: 411px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__field-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;

  & label {
    word-break: break-word;
    width: 60px;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: #f6f6f6;
    font-family: $font-montserrat, "Arial", sans-serif;
  }

  & input {
    width: 300px;
    background-color: transparent;
    border: 1px solid rgba(242, 242, 242, 0.7);
    box-sizing: border-box;
    padding-left: 5px;
    height: 45px;
    color: #f6f6f6;
  }
}

.form__field-input--massage {
  & textarea {
    width: 300px;
    background-color: transparent;
    border: 1px solid rgba(242, 242, 242, 0.7);
    box-sizing: border-box;
    padding-left: 5px;
    height: 145px;
    color: #f6f6f6;
  }
}

.form__btn {
  background-color: transparent;
  border: 1px solid rgba(242, 242, 242, 0.7);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: -0.5px;
  color: #f6f6f6;
  font-family: $font-montserrat, "Arial", sans-serif;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;

  &:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }

  &:active {
    background-color: transparent;
    color: #f6f6f6;
  }
}

@media (max-width: $mobile-width) {
  .form__field-input {
    margin-bottom: 15px;

    & input {
      width: 100%;
    }
  }

  .form__field-input--massage {
    & textarea {
      width: 100%;
    }
  }

  .form__btn {
    margin-left: 0;
  }

}
