.page-header {
  padding-top: 32px;
  display: flex;
  margin-bottom: 200px;
}

.page-header__logo {
  text-decoration: none;;
  width: 84px;
  height: 31px;
  margin-right: auto;

  & img {
    display: block;
  }
}

.page-header__btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-family: $font-montserrat, "Arial", sans-serif;
  letter-spacing: -0.35px;
  line-height: 36px;
  padding: 0;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
