.reviews {
  background-color: #ffffff;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 70px;

  & > h2 {
    max-width: 330px;
    margin: 0 auto;
    font-size: $font-size-h2;
    font-weight: 800;
    line-height: 22px;
    margin-bottom: 7px;
    letter-spacing: -0.6px;
    color: $color-title;
  }

  & > p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
    margin-bottom: 50px;
    color: $color-title;

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #525961;
    }
  }
}

.reviews__wrapp {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 3580px;
}

.reviews__item {
  max-width: 1160px;
  display: none;

  &--block {
    display: block;
  }

  & > p {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #2b3746;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 11px;
      background-image: url("../img/”.png");
      background-repeat: no-repeat;
      background-position: top center;
      left: 50%;
      transform: translateX(-8px);
      bottom: -40px;
    }
  }
}

.reviews__author {
  margin-top: 60px;

  & img {
    width: 65px;
    height: 65px;
  }

  & p {
    font-family: $font-montserrat, "Arial", sans-serif;
    line-height: 20px;
    color: #29323c;

    &:first-of-type {
      font-weight: 700;
      font-size: 15px;
    }

    &:last-of-type {
      font-size: 13px;
      margin-bottom: 30px;
    }
  }
}

.reviews__btn {
  border: 1px solid #2b3746;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  padding: 0;
  box-sizing: border-box;

  &:last-of-type {
    margin-right: 0;
  }
}

.reviews__btn--active {
  background-color: #2b3746;
}

.reviews__wrapper-btn {
  display: flex;
  justify-content: center;
}
