.start-home {
  width: 100%;
  background-image: url("../img/overlay.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 300px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/overlay@2x.webp");
  }
}

.start-home__desc {
  max-width: 634px;
  margin: 0 auto;
  text-align: center;

  & p {
    &:first-of-type {
      font-size: 36px;
      line-height: 40px;
      font-family: $font-montserrat, "Arial", sans-serif;
      font-weight: 700;
      color: #e8e8e8;
      letter-spacing: -2.7px;
      margin-bottom: 28px;
    }

    &:last-of-type {
      font-size: 17px;
      line-height: 25px;
      color: #e8e8e8;
      letter-spacing: -0.425px;
      font-weight: 300;
      margin-bottom: 29px;
    }
  }
}

.start-home__btn {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-family: $font-montserrat, "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  border: 1px solid #f2f2f2;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: $color-title;
  }
}

@media (max-width: $tablet-width) {
  .start-home {
    padding-bottom: 200px;
  }
}

@media (max-width: $mobile-width) {
  .start-home {
    padding-bottom: 80px;
  }

  .start-home__desc {
    & p {
      &:first-of-type {
        font-size: 40px;
      }
    }
  }
}
