.team {
  background-color: #ffffff;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 70px;
  background-image: url("../img/bg_world.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  & > h2 {
    max-width: 332px;
    margin: 0 auto;
    font-size: $font-size-h2;
    font-weight: 800;
    line-height: 22px;
    margin-bottom: 7px;
    letter-spacing: -0.6px;
    color: #f2f2f2;
  }

  & > p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
    margin-bottom: 50px;
    color: rgba(242, 242, 242, 0.8);

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(242, 242, 242, 0.8);
    }
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 80px;
}

.team__item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: rgba(242, 242, 242, 0.75);
  padding-bottom: 30px;

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  & img {
    display: block;
  }
}


.team__btn {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-family: $font-montserrat, "Arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 36px;
  border: 1px solid #f2f2f2;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: $color-title;
  }
}

.team__data {
  padding-top: 30px;

  & p {
    font-family: $font-montserrat, "Arial", sans-serif;
    color: #29323c;
    line-height: 20px;

    &:first-of-type {
      font-size: 15px;
      font-weight: bold;
    }

    &:last-of-type {
      font-size: 14px;
    }
  }
}

@media (max-width: $tablet-width) {
  .team {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .team__item {
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .team {
    padding-top: 45px;
    padding-bottom: 40px;

    & > p {
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  .team__list {
    margin-bottom: 40px;
  }

  .team__item {
    margin-right: 0;
  }
}
