$color-title: #29323c;
$color-text: #29323c;
$font-open: "OpenSans";
$font-montserrat: "Montserrat";
$font-size-main: 14px;
$font-size-h2: 26px;
$line-height-h2: 22px;
$font-size-h3: 16px;
$line-height-h3: 36px;
$tablet-width: 1023px;
$mobile-width: 767px;
